# Meus dados e buckets do Data Lake local
minio_data/
minio_data/*.csv
minio_data/*.zip
minio_data/*.parquet

# Meu ambiente Python e senhas
venv/
.env
__pycache__/
config/

# Logs e banco de dados do Airflow
logs/
postgres-db-volume/

#DuckDB
duckdb/

#MinIO
minio/